body {
  margin: 0;
}

header {
  width: 100%;
  height: 100vh;
  background: url('https://i.imgur.com/5xAkZg9.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 76px;
  background-color: white;
  position: fixed;
}

.topbar-logo {
  width: 40px;
  height: 40px;
  margin: 18px;
  margin-left: 26px;
}

.right-nav {
  display: flex;
  align-items: center;
}

.menu-item {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: black;
  cursor: pointer;
  margin-right: 24px;
}

.dropdown-wrapper {
  display: inline-block;
  position: relative;
}


.dropdown {
  width: 150px;
  border-top: 2px solid rgb(170, 210, 54);
  padding: 20px;
  position: absolute;
  right: 24px;
  background-color: white;
  box-shadow: 0 2px 5px #ccc;
  display: none;
}

.dropdown-wrapper:hover .dropdown {
  display: block;
}

.dropdown a {
  display: block;
  border-bottom: 1px solid #ccc;
  opacity: 0.7;
  padding: 4px;
  cursor: pointer;
}

.dropdown a:hover {
  opacity: 1;
}

.primary-button {
  margin-right: 42px;
  padding: 9px 34px;
  color: white;
  background-color: rgb(170, 210, 54);
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

/* -------------------Section 1 / Landing-section ------------------- */

.sec1 {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.sec1 h1 {
  font-size: 44px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 8.8px;
  line-height: 1.2;
}

.sec1 p {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #8b8b99;
}

  /* -------------------Section 2 / Steps-section ------------------- */

.sec2 {
  display: flex;
}

.sec2 div {
  width: 25%;
  padding: 112px 48px;
  text-align: center;
  color: white;
  box-sizing: border-box
}

.sec2 i {
  font-size: 96px;
}

.sec2 i:hover {
  transform: scale(1.1);
}

.sec2 h1 {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.sec2 p {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

.sec2 .step1 {
  background-color: #5acda6;
}

.sec2 .step2 {
  background-color: #91ac41;
}

.sec2 .step3 {
  background-color: #e4b476;
}

.sec2 .step4 {
  background-color: #f69dad;
}

/* -------------------Section 3 / Store-section ------------------- */

.sec3 {
  width: 100%;
  padding: 75px 0;
  text-align: center;
  background-color: #f7eee2;
}

.fresh-food-text {
  margin: 0;
  margin-top: 35px;
  font-size: 24px;
  font-family: 'Caveat', cursive;
  color: #91ac41;
}

.sec3 h1 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 44px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.sec3-desc {
  margin: 16px 0px 55px 0px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 0.5px;
}

.store-container {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  padding-bottom: 0px;
}

.store-item {
  width: 25%;
  text-align: center;
  padding: 24px
}

.store-item i {
  padding: 40px;
  font-size: 60px;
  border-radius: 50%;
  color: white;
  background-color: #e3b375;
}

.store-item i:hover {
  transform: scale(1.1);
}

.store-item h1 {
  margin: 24px 0px;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* -------------------Section 4 / Testimony-section ------------------- */

.sec4 {
  width: 100%;
  padding: 75px 0;
  text-align: center;
}

.sec4 h1 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 44px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.sec4-desc {
  max-width: 700px;
  margin: 0 auto 55px auto;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #8b8b99;
}

.testimony-wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.testimony-item {
  width: 25%;
  margin: 16px;
  text-align: center;
  padding: 40px 30px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  background-color: #f5f6fb;
  transition: box-shadow 0.3s;
}

.testimony-item:hover {
  box-shadow: 0 12px 16px 0 rgba(39,39,47,0.06);
}

.testimony-item img {
  width: 80px;
  margin-bottom: 25px;
  border-radius: 50%;
}

.testimony-msg {
  margin-bottom: 24px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  color: #8b8b99;
}

.testimony-author {
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.author-job {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  color: #8b8b99;
}

/* --------Section 5/ Follow-us-section ---------------*/

.sec5 {
  display: flex;
}

.right-berry {
  width: 70%;
  margin: 0;
}

.right-berry img {
  width: 100%;
}

.left-berry {
    width: 34%;
    margin: 0;
    background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png);
    background-position: left;
    background-size: cover;
}

.text-wrapper {
  margin: 115px;
}

.text-wrapper h1 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 44px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.text-wrapper p {
  margin: 0;
  line-height: 1.6;
  letter-spacing: 0.5;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #8b8b99;
}

.text-wrapper input {
  width: 100%;
  margin-top: 60px;
  padding: 12px;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  color: #8b8b99;
  outline: none;
}

.text-wrapper button {
  padding: 16px 42px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 16px;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  background-color: #f69dad;
  color: white;
}

.text-wrapper button:hover {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #f69dad;
}

/* -------------------Section 6/ stats-section ------------------- */


.sec6 {
  background-color: #f5f6fb;
}

.stats-wrapper {
  width: 100%;
  padding: 100px 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: stretch;
  font-family: 'Poppins', sans-serif;
}

.stats {
  width: 25%;
  padding: 0 64px;
}

.stats h1 {
  margin: 0;
  font-size: 44px;
  font-weight: 600;
}

.stats p {
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-style: italic;
  color: #57e3b5;
}


/* -------------------Section 7/ video-section ------------------- */

.video-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  text-align: center;
}

.video-wrapper h1 {
  font-size: 44px;
  font-weight: 400;
  color: #8b8b99;
}

.line-separator {
  width: 96px;
  display: inline-block;
  height: 1px;
  background-color: #e4b476;
  margin-bottom: 36px;
}

.video-wrapper iframe {
  width: 100%;
  height: 425px;
}

/* -------------------Section 8/ contact-section ------------------- */

.contact-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

.left-contact {
  width: 50%;
}

.right-contact {
  width: 40%;
}

.green-text {
  color: #91ac41;
  font-size: 24px;
  font-family: 'Caveat', cursive;
  margin: 0;
  margin-top: 35px;
}

.sec8 h1 {
  font-size: 44px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.sec8 h3 {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0;
  margin-top: 32px;
}

.contact-text {
  margin: 16px 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #8b8b99;
  letter-spacing: 0.5px;  
}

.input-box {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #8b8b99;
  border-radius: 6px;
  border: 1px solid #e5e6ec; 
  box-sizing: border-box;
}

footer {
  padding:  30px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  background-color: black;
  color: white;
}

/* ----------------Responsive-Version-------------------- */

@media (max-width: 900px) {
  
  .menu-item {
    display: none;
  }

  .sec1 h1 {
    font-size: 28px;
  }

  .sec1 p {
    padding: 16px;
    box-sizing: border-box;
  }

  .sec2 {
    flex-direction: column;
  }

  .sec2 div {
    width: 100%;
  }

  .sec3 {
    padding: 16px;
    box-sizing: border-box;
  }

  .store-container {
    flex-direction: column;
    text-align: center;
  }

  .store-item {
    width: 100%;
    box-sizing: border-box;
  }

  .sec4 {
    padding: 16px;
    box-sizing: border-box;
  }

  .sec4 h1 {
    font-size: 28px;

  }

  .testimony-wrapper {
    flex-direction: column;
  }

  .testimony-item {
    width: 100%;
    box-sizing: border-box;
  }

  .right-berry {
    width: 100%;
  }

  .left-berry {
    width: 100%;
  }

  .text-wrapper {
    margin: 16px;
  }
  
  .text-wrapper h1 {
    font-size: 28px;
  }

  .sec5 {
    flex-direction: column;
  }

  .stats-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .contact-container {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 16px;
    padding-top: 0;
    box-sizing: border-box;
  }

  .contact-container div {
    width: 100%;
  }
}